.profile_wrapper {
	background-color: hsl(var(--clr-light-gray));
	padding: 1rem;
}

.container {
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}

.content {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 1.5rem;
	gap: 1rem;
	width: 100%;
}

.content main {
	width: 100%;
}
