{
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true,
	"printWidth": 80,
	"endOfLine": "auto",
	"tabWidth": 2,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"singleAttributePerLine": true
}
