.form_group {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
	margin-bottom: 1rem;
}

.form_group:last-child {
	text-align: right;
}

.errors_container {
	padding: 0;
	margin: 0;
	text-align: center;
}

.error_message {
	text-align: left;
	color: hsl(var(--clr-danger));
	font-weight: bold;
	padding-left: 1rem;
}
